/*!
 * This file is part of the WPSF package.
 * This package is Open Source Software. For the full copyright and license
 * information, please view the LICENSE file which was distributed with this
 * source code.
 *
 * @package    WPSF
 * @author     Varun Sridharan <varunsridharan23@gmail.com>
 */

@import "compass";
@import "vendor/mixins";

.wpsf-framework {
    margin-left: 20px;
    margin-right: 0;

    .wpsf-header {
        h1 {
            float: right;
        }

        fieldset {
            float: left;
        }
    }

    .wpsf-nav {
        float: right;

        ul {
            clear: right;

            li {
                .wpsf-section-active:after {
                    right: auto;
                    left: 0;
                    border-left-color: #fff;
                    border-right-color: transparent;
                }

                .wpsf-arrow:after {
                    content: "\f053";
                    right: auto;
                    left: 10px;
                }

                &.wpsf-tab-active .wpsf-arrow:after {
                    @include transform( rotate(-90deg));
                }
            }

            ul {
                li {
                    a {
                        padding-right: 25px;
                        padding-left: 15px;
                    }
                }

                &:before {
                    left: auto;
                    right: 15px;
                }
            }
        }

        .wpsf-icon {
            margin-left: 5px;
            margin-right: 0;
        }
    }

    .wpsf-nav-background {
        left: auto;
        right: 0;
    }

    .wpsf-content {
        margin-left: 0;
        margin-right: 225px;

        .wpsf-sections {
            float: right;
        }
    }

    .wpsf-show-all .wpsf-content {
        margin-right: 0;
        overflow: hidden;
    }

    .wpsf-expand-all {
        right: auto;
        left: 40px;
    }

    .wpsf-footer {
        text-align: left;
    }
}

.wpsf-metabox-framework {
    margin: -6px -12px -12px -12px;

    .wpsf-content {
        .wpsf-section-title {
            padding: 20px;
        }
    }
}

.wpsf-element {
    .wpsf-title {
        float: right;
    }

    .wpsf-fieldset {
        margin-left: 0;
        margin-right: 30%;
    }
}

.wpsf-pseudo-field {
    padding: 0 0 0 5px !important;
}

.wpsf-field-number em {
    margin-left: 0;
    margin-right: 5px;
}

.wpsf-field-typography select,
.wpsf-field-typography .chosen-container {
    margin-right: 0;
    margin-left: 5px;
}

.wpsf-field-checkbox .horizontal li,
.wpsf-field-radio .horizontal li {
    margin-right: 0;
    margin-left: 15px;
}

.wpsf-field-switcher {
    label {
        float: right;
    }

    .wpsf-text-desc {
        float: right;
        margin-left: 0;
        margin-right: 5px;
    }
}

.wpsf-field-color_picker {
    .wpsf-alpha-slider {
        margin-left: 0;
        margin-right: 2px;

        .ui-slider-handle {
            margin: 0 -11px;
        }
    }

    .wpsf-alpha-slider-offset {
        background-position: center right;
    }

    .wpsf-alpha-text {
        right: auto;
        left: 10px;
    }
}

.wpsf-field-group {
    .ui-accordion-icons {
        padding-left: 0;
        padding-right: 30px;
    }

    .ui-accordion-header-icon {
        left: auto;
        right: .5em;
    }

    .dashicons-arrow-right:before {
        content: "\f141";
    }
}

.wpsf-help {
    right: auto;
    left: 5px;
}

.wpsf-field-icon {
    .button {
        margin-right: 0;
        margin-left: 5px;
    }

    .wpsf-icon-preview i {
        margin-right: 0;
        margin-left: 5px;
    }
}

.wpsf-field-gallery {
    ul li {
        margin-right: 0;
        margin-left: 5px;
    }

    .button {
        margin-right: 0;
        margin-left: 5px;
    }
}

.wpsf-field-sorter .wpsf-modules {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

.wpsf-taxonomy-add-fields {

    .wpsf-fieldset {
        margin-right: 0;
    }

    .wpsf-help {
        left: -5px;
        right: auto;
    }
}

.wpsf-taxonomy-edit-fields {

    .wpsf-fieldset {
        margin-left: 0;
        margin-right: 225px;
    }

    .wpsf-help {
        right: auto;
        left: -5px;
    }
}

#wpsf-save-ajax {
    right: auto;
    left: 5px;
}

.wpsf-dialog {
    .wpsf-element {
        padding-right: 15px;
        padding-left: 30px;
    }

    .wpsf-shortcode-clone .wpsf-remove-clone {
        right: auto;
        left: 5px;
    }
}

#customize-controls .wpsf-element .wpsf-fieldset,
.widget-content .wpsf-element .wpsf-fieldset,
#side-sortables .wpsf-element .wpsf-fieldset {
    margin-right: 0;
}

@media only screen and (max-width:1200px) {
    .wpsf-metabox-framework .wpsf-element .wpsf-fieldset {
        margin-left: 0;
    }
}

@media only screen and (max-width:782px) {
    .wpsf-framework .wpsf-fieldset,
    .wpsf-framework .wpsf-content {
        margin-right: 0;
    }
}

.ui-dialog {
    right: auto;
}
